.inputs {
    overflow: hidden;
    height: 30%;
    width: 30%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.inputs > div {
    background-color: var(--bg);
    border-radius: 10px;
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    height: 100%;
}

.inputs > div:hover {
    cursor: pointer;
    filter: brightness(95%);
}

.inputs > div > img {
    height: 100%;
}

.off {
    filter: grayscale(100%);
}