@font-face {
    font-family: Lato;
    src: url('../assets/fonts/Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: Permanent-Marker;
    src: url('../assets/fonts/Permanent_Marker/PermanentMarker-Regular.ttf');
}

:root {
    --cool-gray: #7d84b2ff;
    --vista-blue: #8e9dccff;
    --lavender-web: #d9dbf1ff;
    --ivory: #f9f9edff;
    --mindaro: #dbf4a7ff;
    --bittersweet: #ed6a5aff;
    --lemon-chiffon: #f4f1bbff;
    --ash-gray: #9bc1bcff;
    --wenge: #5d576bff;
    --alabaster: #e6ebe0ff;
    --marian-blue: #424874ff;
    --periwinkle: #dcd6f7ff;
    --periwinkle-2: #a6b1e1ff;
    --french-gray: #cacfd6ff;
    --azure-web: #d6e5e3ff;
}


* {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

body { 
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
}

aside {
    height: 100%;
    width: 15%;

    background-color: var(--marian-blue);

    display: flex;
    flex-direction: column;
    align-items: center;
}

section.rightSide {
    flex-grow: 2;
    background-color: rgb(233, 233, 233);
}

header {
    padding: 50px;
    width: 100%;
    height: 10%;
    background-color: rgb(252, 252, 252);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#timeSpan {
    font-size: 4em;
    font-family: Lato;
}
header > h1 {
    font-size: 2em;
}

.data {
    height: 90%;
    width: 100%;
    padding: 50px;
}

.values {
    width: 100%;
    height: 300px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    column-gap: 50px;
    color: rgb(238, 238, 238);
    text-shadow: 2px 3px var(--marian-blue);
}

.values > div > span:last-of-type {
    font-size:3em;
    grid-column: 2;
    grid-row: 1;
    text-align: end;
}

.values > div > span:first-of-type {
    font-size: 5em;
    grid-column: 1;
    grid-row: 2;
}

.values > div {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    padding: 50px;
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}
.values > div > h2 {
    font-size: 3em;
    grid-column: 1;
    grid-row: 1;
}

.temperature {
    background-color: var(--periwinkle);
}
.humidity {
    background-color: var(--vista-blue);
}
.light_level {
    background-color: var(--french-gray);
}
.last_div {
    background-color: var(--azure-web);
}