@font-face {
    font-family: Lato;
    src: url('../assets/fonts/Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: Permanent-Marker;
    src: url('../assets/fonts/Permanent_Marker/PermanentMarker-Regular.ttf');
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

body { 
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
}

aside {
    height: 100%;
    width: 15%;

    background-color: rgb(53, 61, 88);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeDiv {
    width: 100%;
    height: 100px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    color: white;
}

main {
    flex-grow: 1;
    background-color: rgb(250, 250, 250);

    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    padding: 20px;
}

main > div {
    padding: 50px;
    border-radius: 50px;
    color: white;
}

main > div > span:first-of-type {
    font-size: 5em;
}
main > div > span:last-of-type {
    font-size: 3em;
}

main > div > h2 {
    font-family: 'Permanent-Marker', serif;
    color:whitesmoke;
    letter-spacing: 5px;
}